.navbar-nav>li>a.profile-image {
    padding-top: 10px;
    padding-bottom: 0px;
}

.admin-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.admin-usermenu ul li:last-child {
  border-bottom: none;
}

.admin-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.admin-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.admin-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.admin-usermenu ul li.active {
  border-bottom: none;
}

.admin-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}  

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.countries-input {
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}